<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JobTime - Login</title>

		<link
			rel="icon"
			type="image/x-icon"
			href="assets/images/logo/favicon.ico"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="assets/css/bootstrap.css" />
		<link
			rel="stylesheet"
			href="assets/vendors/bootstrap-icons/bootstrap-icons.css"
		/>
		<link rel="stylesheet" href="assets/css/app.css" />
		<link rel="stylesheet" href="assets/css/pages/auth.css" />
	</head>

	<body>
		<div id="auth">
			<div class="row h-100">
				<div class="col-lg-5 col-12">
					<div id="auth-left">
						<div class="auth-logo">
							<a href="index.html"
								><img src="assets/images/logo/logo.png" alt="Logo"
							/></a>
						</div>

						<p class="auth-subtitle mb-4">
							Login dengan data yang telah anda inputkan saat mendaftar
						</p>

						<form action="index.html">
							<div class="form-group position-relative has-icon-left">
								<input
									type="text"
									class="form-control form-control-xl"
									placeholder="Email"
								/>
								<div class="form-control-icon">
									<i class="bi bi-envelope"></i>
								</div>
							</div>
							<div class="form-group position-relative has-icon-left">
								<input
									type="password"
									class="form-control form-control-xl"
									placeholder="Password"
								/>
								<div class="form-control-icon">
									<i class="bi bi-shield-lock"></i>
								</div>
							</div>
							<div class="form-check form-check-lg d-flex align-items-end">
								<input
									class="form-check-input me-2"
									type="checkbox"
									value=""
									id="flexCheckDefault"
								/>
								<label
									class="form-check-label text-gray-600"
									for="flexCheckDefault"
								>
									Biarkan saya tetap masuk
								</label>
							</div>
							<button class="btn btn-primary btn-block btn-lg shadow-lg mt-4">
								Login
							</button>
						</form>
						<div class="text-center mt-4 text-lg fs-6">
							<p class="text-gray-600">
								Belum punya akun ?
								<a href="auth-register.html" class="font-bold">Daftar</a>
							</p>
							<!-- <p>
								<a class="font-bold" href="auth-forgot-password.html"
                  >Lupa password ?</a
                >
							</p> -->
						</div>
					</div>
				</div>
				<div class="col-lg-7 d-none d-lg-block">
					<div id="auth-right"></div>
				</div>
			</div>
		</div>
	</body>
</html>
