<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobTime - Data Akun User</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="assets/images/logo/favicon.ico"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/bootstrap.css" />

    <link rel="stylesheet" href="assets/vendors/simple-datatables/style.css" />

    <link
      rel="stylesheet"
      href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/bootstrap-icons/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="assets/css/app.css" />
    <link
      rel="shortcut icon"
      href="assets/images/favicon.svg"
      type="image/x-icon"
    />
  </head>

  <body>
    <div id="app">
      <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header">
            <div class="d-flex justify-content-between">
              <div class="logo">
                <a href="index.html"
                  ><img src="assets/images/logo/logo.png" alt="Logo" srcset=""
                /></a>
              </div>
              <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"
                  ><i class="bi bi-x bi-middle"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title">Admin Menu</li>

              <li class="sidebar-item">
                <a href="index.html" class="sidebar-link">
                  <i class="bi bi-grid-fill"></i>
                  <span>Dashboard</span>
                </a>
              </li>

              <li class="sidebar-item active has-sub">
                <a href="#" class="sidebar-link">
                  <i class="bi bi-person-badge-fill"></i>
                  <span>Manajemen Akun</span>
                </a>
                <ul class="submenu" style="display: block">
                  <li class="submenu-item">
                    <a href="data-akun-admin.html">Data Akun Admin</a>
                  </li>
                  <li class="submenu-item active">
                    <a href="data-akun-user.html">Data Akun User</a>
                  </li>
                </ul>
              </li>

              <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                  <span>Manajemen Loker</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="data-loker.html">Data Loker</a>
                  </li>
                  
                </ul>
              </li>
            </ul>
          </div>
          <button class="sidebar-toggler btn x">
            <i data-feather="x"></i>
          </button>
        </div>
      </div>
      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>

        <div class="page-heading">
          <div class="page-title">
            <div class="row">
              <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Data Akun User</h3>
                <!-- <p class="text-subtitle text-muted">
                  Untuk mengecek data akun dengan role User
                </p> -->
              </div>
              <div class="col-12 col-md-6 order-md-2 order-first">
                <nav
                  aria-label="breadcrumb"
                  class="breadcrumb-header float-start float-lg-end"
                >
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Manajemen Akun - Data Akun User
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
          <section class="section">
            <div class="card">
              <div class="card-header">Data Akun User</div>
              <div class="card-body">
                <table class="table table-striped" id="table1">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>ID Akun</th>
                      <th>Nama</th>
                      <th>Email</th>
                      <th>No. HP</th>
                      <th>Tanggal Lahir</th>
                      <th>Jenis Kelamin</th>
                      <th>Foto Profil</th>
                      <th>Provinsi</th>
                      <th>Kota</th>
                      <th>Kecamatan</th>
                      <th>Desa</th>
                      <th>Alamat</th>
                      <th>Akun Dibuat</th>
                      <th>Akun diupdate terakhir pada</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>1</td>
                      <td>User 1</td>
                      <td>User1@gmail.com</td>
                      <td>081081081081</td>
                      <td>01/01/2000</td>
                      <td>Laki - Laki</td>
                      <td><a href=""></a><span class="badge bg-warning">Lihat Foto</span> </a></td>
                      <td>Jawa Barat</td>
                      <td>Bandung</td>
                      <td>Ciserang</td>
                      <td>Ciserang</td>
                      <td>Jl. Bandung Jaya No. 23</td>
                      <td>01/01/2022</td>
                      <td>-</td>
                      <td>
                        <a href="form-edit-user.html">
                            <span class="badge bg-primary" style="margin: 10px">Edit</span>
                        </a>

                        <a href="">
                            <span class="badge bg-danger">Hapus</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>2</td>
                      <td>User 2</td>
                      <td>User2@gmail.com</td>
                      <td>082082082082</td>
                      <td>02/02/2000</td>
                      <td>Perempuan</td>
                      <td> <a href=""></a><span class="badge bg-warning">Lihat Foto</span></a></td>
                      <td>Jawa Tengah</td>
                      <td>Purwokerto</td>
                      <td>Lungguhlowo</td>
                      <td>Lungguhlowo</td>
                      <td>Jl. Lowolungguh No. 15</td>
                      <td>02/02/2022</td>
                      <td>-</td>
                      <td>
                        <a href="form-edit-user.html">
                            <span class="badge bg-primary" style="margin: 10px">Edit</span>
                        </a>

                        <a href="">
                            <span class="badge bg-danger">Hapus</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>

        <footer>
          <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
              <p>2022 &copy; Copyright - JobTime</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendors/simple-datatables/simple-datatables.js"></script>
    <script>
      // Simple Datatable
      let table1 = document.querySelector("#table1");
      let dataTable = new simpleDatatables.DataTable(table1);
    </script>

    <script src="assets/js/main.js"></script>
  </body>
</html>
